

/*home*/

.container{
    background-color: #0002A1 !important;
    padding: 20px !important;

}


.card{
    background-color: #FB2576 !important;
}

.row{
    padding-top: 20px !important;
}


/*Our Team*/

.ourteam{
    padding-bottom: 30px;
}
